#add for board init.rc for recovery mode
import /init.recovery.common.rc

on fs
    install_keyring

service hwservicemanager /system/lib64/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /system/lib64/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /system/lib64/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

# keystore is started and stopped on demand by TWRP
service keystore /system/lib64/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/lib64/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /system/lib64/android.hardware.keymaster@4.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on boot
    setprop sys.usb.config adb

on init
    start hwservicemanager

on post-fs
    start modulesdriver

on property:ro.crypto.type=file
    start keymaster-4-0
    start gatekeeper-1-0
    start servicemanager
